<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ben.Demystifier" version="0.4.1" targetFramework="net48" />
  <package id="DotVVM" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.BusinessPack" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.BusinessPack.Core" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.Controls.Bootstrap4" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.Core" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.HotReload" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.HotReload.Owin" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.Owin" version="4.2.0" targetFramework="net48" />
  <package id="DotVVM.Utils.HtmlElements" version="4.2.0" targetFramework="net48" />
  <package id="FastExpressionCompiler" version="3.3.3" targetFramework="net48" />
  <package id="jQuery" version="3.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="4.2.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Portable.System.DateTimeOnly" version="6.0.2" targetFramework="net48" />
  <package id="RecordException" version="0.1.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>